.light {
  --primary-color: #36bfb1;
  --text-color-01: #FFFFFF;

  // background gradient
  --gradient-background-01: #36bfb1;
  --gradient-background-02: #94bbe9;

  // Button gradient
  --gradient-button-01: #36bfb1;
  --gradient-button-02: #81adf3;
  --gradient-button-03: #c2fcf3a4;

  // Button color
  --button-color-01: #130225;
  --button-color-02: #ffffff;

  // severty color
  --success-color: #36bfb1;
  --info-color: #94bbe9;
  --warning-color: #f9c74f;
  --danger-color: #f3722c;
  --secondary-color: #4e4e4ea2;
  --contrast-color: #161212bd;

  background: var(--primary-color);
  background: radial-gradient(
    circle,
    var(--gradient-background-01) 0%,
    var(--gradient-background-02) 100%
  );

  margin: 0;
}
